[Unit]
Description=Deployer Service

[Service]
Type=simple
User=rockyj
Environment=DEPLOYER_USER=deployer
Environment=DEPLOYER_PASSWORD=Locked$12310
ExecStart=/opt/deployer/deployer

[Install]
WantedBy=multi-user.target
